<div class='contenido' id="clientes_contenido">
    <div class="col-sm-12">
    <h1 class="page-header titulo">Lista Clientes</h1>
    <span style="position: absolute; right: 0;"><i class="add_user btn btn-info fa fa-plus"></i></span>
    <br>
    <br>
    <table id="lista_clientes"  class="table table-cover">
        <thead>
            <tr>
                <th>
                    
                </th>
                <th>
                    Cedula
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Apellido
                </th>
                <th>
                    Sexo
                </th>
                <th>
                    Fecha De Nacimiento
                </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
