<div class="col-sm-12">
	<span style="position: absolute; right: 0;"><i class="fa fa-plus btn btn-info" id='add_user' data-id='2'></i></i></span>
	<br>
	<br>
	<table id="lista_user"  class="table table-cover">
		<thead>
			<tr>
				<th>
					Editar
				</th>
				<th>
					Cambiar Password
				</th>
				<th>
					Username
				</th>
				<th>
					Nombre
				</th>
				<th>
					Apellido
				<th>
			</tr>
		</thead>
		<tbody>
		{% for x in user %}
			<tr>
				<td>
					<a href="#" class='editar_user' data-id='{{x.id}}' data-toggle="modal" data-target="#MUpdateUser2" onclick="get_user({{x.id}})">
						<i class='fa fa-pencil-square-o fa_color'></i>
					</a>
				</td>
				<td>
					<a class="self_change_password" href="#MChangePassword" data-id='{{x.id}}' data-toggle="modal"><i class="fa fa-key"></i></a>
				</td>
				<td>
					{{x.username}}
				</td>
				<td>
					{{x.first_name}}
				</td>
				<td>
					{{x.last_name}}
				</td>
				<td></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% include 'modal_update_user2.html' %}
{% include 'modal_create_user.html' %}
<script type="text/javascript">
	$("#add_user").click(function(event) {
	  $("#MCreateUser2").modal("show");
	});
	$(".self_change_password").click(function(event) {
	  $('#id_user').val($(this).data('id'));
	});
	var lista_user = $('#lista_user').dataTable({
        lengthMenu: [ [10, 25, 50, -1], [10, 25, 50, "Todos"] ],
        language: {
	        processing:     "Cargando",
	        search:         "Busqueda:",
	        lengthMenu:    "Montrar _MENU_ Registros",
	        info:           "Registros del _START_ Hasta el: _END_ De _TOTAL_ Registro",
	        infoEmpty:      "Registros del 0 Hasta el: 0 De 0 Registro",
	        infoFiltered:   "(filtrado de _MAX_ total)",
	        infoPostFix:    "",
	        loadingRecords: "Espere",
	        zeroRecords:    "No Existe Ningun user Registrado",
	        emptyTable:     "No Existe Ningun user Registrado",
	        paginate: {
	            first:      "Primero",
	            previous:   "Anterior",
	            next:       "Siguiente",
	            last:       "Ultimo"
	        },
	        aria: {
	            sortAscending:  ": activer pour trier la colonne par ordre croissant",
	            sortDescending: ": activer pour trier la colonne par ordre décroissant"
	        }
	    }
    }).draw();
</script>